body {
    font-family: Arial, sans-serif;
    background-color: #a81a1a;
    margin: 20px;
  }
  
  h1 {
    color: #13b1a6;
    text-align: center;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
    margin-top: 20px;
  }
  
  p {
    margin: 10px 0;
  }
  
  input[type="radio"] {
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
    text-align: center;
  }
  